@charset "UTF-8";
/* CSS Document */

body {
	background-color:#3E3F43;
	color: ghostwhite;
	display: block;
	text-align: center;
	align-content: center;
	font-size:18px;
	font-family: FreeMono, monospace, serif;
}
h1 {
	
	margin-left: auto;
	margin-right: auto;	
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	width: 400px;
	text-align: center;
	
}

.box {
	display:block;
	border: solid 1px white;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}


@media screen and (max-width:480px) {
	h1 {
		font-size: 30px;
	}
	body {
		font-size: 24px;
	}
}

@media only screen and (min-width: 481px) {
 /* Design for tablets */
}	
	
@media only screen and (min-width: 769px) {
 /* Design for desktop */
}


 
